* {
    background-color: rgb(210, 210, 211);
    font-family: "Playfair Display", serif;
  }
  
  nav {
    display: flex;
    cursor: pointer;
    height: 60px;
    position: fixed;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 2em;
    z-index: 1;
  }
  
  nav div {
    padding: 10px;
    font-size: 2em;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    background-color: black;
    color:rgb(210, 210, 211);
    color: black;
    background: linear-gradient(to right, maroon 30%, rgb(210, 210, 211) 40%, black 10%);
    background-size: 4000px;
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine ease-in .3s forwards;
    animation-fill-mode: none;
    animation-play-state: running;
    -webkit-text-size-adjust: none;
  }
  
  #sideNav {
    display: flex;
    flex-direction: column;
  }
  
  #picOfMe {
      top: 9em;
      left: 3em;
      position: fixed;
      background: none;
      z-index:1;
      
  }

  
  #picOfMe img {
      width: 77%;
      z-index: 4
  }
 
  #tag {
      top: 32em;
      left: 2em;
      position: fixed;
      font-size: 1.3em;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      letter-spacing: .8em;
  }

  #contact {
    position: fixed;
    top: 22em;
    left: 1.7em;
    font-size: 2.5em;
    background: none;
    text-align: center;
    
  }
  
  #contact li,
  #contact a {
    list-style-type: none;
    color: black;
  }
  
  .experienceUnderline {
    text-decoration-line: underline;
  }
  #bio-text {
      top: 7em;
      left: 40em;
      width: 25em;
      position: absolute;
      padding: 20px;
      border: 2px solid;
      font-size: 1.1em;
      margin-bottom: 30px;
      
  }

  #bio-text,
  #experience,
  #expCont,
  #skills {
    -webkit-transition: all 0.6s;
    transition: all 1s;
  }

  #bio-text:hover,
  #experience:hover,
  #expCont:hover,
  #skills:hover {
    box-shadow: 10px 10px 4px rgba(128,0,0,.8);
    transition: box-shadow 0.3s ease-in;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }

  #experience {
      position: absolute;
      left: 73em;
      top: 38%;
      width: 25em;
      padding: 20px;
      margin-bottom: 30px;
      border: 2px solid;
      font-size: 1.1em;
  }

  #expCont {
    position: absolute;
      left: 40em;
      top: 87%;
      width: 25em;
      padding: 20px;
      border: 2px solid;
      font-size: 1.1em;
  }

  #skills {
    position: absolute;
      left: 73em;
      top: 120%;
      width: 25em;
      padding: 20px;
      margin-bottom: 3em;
      border: 2px solid;
      font-size: 1.1em;

  }

  .page-space {
    height: .8em;
  }

  @keyframes shine {
    0% {
      background-position: 2000px;
    }
    100% {
      background-position: 4000px;
    }
  }


@media screen and (max-width: 600px) {
    body {
        max-width: 600px;
    }
    nav {
      flex-direction: column;
      top: 10%;
      text-align: center;
      left: 0;
      margin: auto;
    }
    nav #nav-line-1,
    nav #nav-line-2 {
      display: none;
      
    }
    #sideNav {
        align-items: center;

    }
    #bio-text,
    #experience,
    #expCont,
    #skills {
        position: relative;
        display: flex;
        flex-direction: column;
        left: auto;
        top: auto;
        width: 88%;

    }
    #contact,
    #tag,
    #picOfMe,
    nav{
        position: relative;
        display: flex;
        flex-direction: column;
        left:auto;
        top: auto;
        align-items: center;

    }
    #picOfMe {
        margin-bottom: 10%;
        z-index: 0;
    }
    #wholeBio {
        margin-top: 40%;
    }

    
  }