* {
  background-color: rgb(210, 210, 211);
  font-family: "Playfair Display", serif;
}

nav {
  display: flex;
  cursor: pointer;
  height: 60px;
  position: fixed;
  flex-direction: row;
  margin-top: 2em;
  margin-left: 2em;
  z-index: 1;
}

nav div {
  padding: 10px;
  font-size: 2em;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: black;
  color:rgb(210, 210, 211);
  color: black;
  background: linear-gradient(to right, maroon 30%, rgb(210, 210, 211) 40%, black 10%);
  background-size: 4000px;
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine ease-in .3s forwards;
  animation-fill-mode: none;
  animation-play-state: running;
  -webkit-text-size-adjust: none;
}


#nameContainer{
  background: none;
  height: 6.2em;
  position: relative;
  font-size: 9em;
  margin: auto;
  letter-spacing: 0.5em;
  color: rgba(0,0,0,);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#mainName span{
  margin: 0;
  flex-direction: row;
  color: black;
  background: radial-gradient(at 10% 10%, maroon 30%, rgb(210, 210, 211) 40%, black 10%);
  background-size: 5000px;
  background-position: 4000px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine ease-in 5s infinite alternate;
  animation-duration: 8s;
  animation-fill-mode: none;
  animation-play-state: running;
  -webkit-text-size-adjust: none;
  
}



@keyframes shine {
  0% {
    background-position: 2000px;
  }
  50% {
    background-position: 5000px;
  }
  100% {
    background-position: 6000px;
  }
  100% {
    background-position: 3000px;
  }
  100% {
    background-position: 2000px;
  }
}


@media screen and (max-width: 600px) {
  #nameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    
    margin-top: 140%;
  }
  #mainName span {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0em;
  }
  nav {
    flex-direction: column;
    top: 10%;
    text-align: center;
    left: 0;
    margin: auto;
  }
  nav #nav-line-1,
  nav #nav-line-2 {
    display: none;
    
  }
  
}